################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvvmUtils/MvvmUtils/bin
/MvvmUtils/MvvmUtils/obj
/MvvmUtils/MvvmUtils/obj
/MvvmUtils/MvvmUtils/obj/x86
/MvvmUtils/MvvmUtils/obj/Release/netstandard1.4
/MvvmUtils/MvvmUtils.PCL/bin
/MvvmUtils/MvvmUtils.PCL/obj
/.vs
*.nupkg
/MvvmUtils/MvvmUtils.Test/bin/Debug
/MvvmUtils/MvvmUtils.Test/bin
/MvvmUtils/MvvmUtils.Test/obj
/MvvmUtils/packages
